<!DOCTYPE html>
<html>
<title> Hack Utd 2018 </title>
<body>
<h2> Welcome to Hack Utd 2018 </h2>
<h3>Student Login</h3>
<form action="/resigter" method="post">

<div id="container_demo"  >
	<a class="hiddenanchor" id="toregister"></a>
	<div id="wrapper" >
		<div id="register" class="animate form">
			<form  action="" autocomplete="on"> 
				<h1> Sign up </h1> 
				<p> 
					<label for="First Name" class="uname" data-icon="u">First Name</label>
					<input id="usernamesignup" name="usernamesignup" required="required" type="text" />
				</p>
				<p> 
					<label for="Last Name" class="uname" data-icon="u">Last Name</label>
					<input id="usernamesignup" name="usernamesignup" required="required" type="text" />
				</p>
				<p> 
					<label for="emailsignup" class="youmail" data-icon="e" > Email</label>
					<input id="emailsignup" name="emailsignup" required="required" type="email" /> 
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p"> Password </label>
					<input id="passwordsignup" name="passwordsignup" required="required" type="password" />
				</p>
				<p> 
					<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
					<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" />
				</p>
				<p>
					<input type="checkbox" name="events" value="UTD"> UTD <br>
					<input type="checkbox" name="events" value="UTD CS"> UTD CS <br>
					<input type="checkbox" name="events" value="UTD Music"> UTD Music <br>
					<input type="checkbox" name="events" value="UTD Theater"> UTD Theater <br>
					<input type="checkbox" name="events" value="UTD Tech Talk"> UTD Tech Talk<br>
					<input type="checkbox" name="events" value="UTD Yoga"> UTD Yoga
					
				</p>
				<p class="signin button"> 
					<input type="submit" value="Sign up"/> 
				</p>
				<p class="change_link">  
					Already a member ?
					<a href="login.html" class="to_register"> Log in </a>
				</p>
			</form>
		</div>
	</div>
</div> 
</form>
</body>
</html>
